#root {
  width: 100%;
  height: 100vw;
  /* overflow: hidden !important; */
}

body {
  background-color: lightblue !important;
  /* overflow: hidden !important; */
  padding-top: 120px !important;
  height: 100%;
}

/* Margins and Padding */

.mt-20 { /* Margin top */
  margin-top: 20px;
}
.padding-top-50 {
  padding-top: 50px;
}

.h-100 {
  height: 100px !important;
}


/* Fonts  and font-sizes */

.sofadi-one-regular {
  font-family: "Sofadi One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.outlined-text {
  color: white; /* Main text color */
  text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000; /* Black outline */
}



.appName {
  position: relative;
  
}

.paragraphButton {
  background-color: rgba(255, 255, 255, 0) !important;
  border: none !important;
  color: black !important;
}

/* Slick */

.slick-slider {
  background-color:rgba(127, 255, 212,0.3) ;
  
  border-radius: 30px;
  display: flex;
  align-content: center;
  
}
.slick-slide {
  align-items: center;
}

/* Register component */
.registrationContainer {
  background: linear-gradient(to right, #735fe0, #7bedfe);
  padding: 30px;
}
.registrationContainer h2 {
  color: white;
  font-size: 35px;
}


/* Login component */
.formContainer {
  background: linear-gradient(to right, #735fe0, #7bedfe);
}




/* Media queries for better responsiveness */

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {

  /* Register component */
.registrationContainer {
  background: linear-gradient(to right, #735fe0, #7bedfe);
  padding: 30px;
}
.registrationContainer h2 {
  color: white;
  font-size: 35px;
}

  .landingContainer {
    padding: 30px 50px !important;
  }
  .slick-slider {
    padding: 20px 30px !important;
    height: 200px;
  }
  .offerSlideContent {
    display: flex !important;
    
  }
  .offerSlideContent img {
    margin: 0 auto;
    
  }
  .slick-prev:before, .slick-next:before {
  
    font-size: 25px !important;
  
  }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

  /* Register component */
.registrationContainer {
  background: linear-gradient(to right, #735fe0, #7bedfe);
  padding: 30px;
}
.registrationContainer h2 {
  color: white;
  font-size: 35px;
}

  .landingContainer {
    padding: 30px 50px !important;
  }
  .slick-slider {
    padding: 20px 30px !important;
    height: 200px;
  }
  .offerSlideContent {
    display: flex !important;
    
  }
  .offerSlideContent img {
    margin: 0 auto;
    
  }
  .slick-prev:before, .slick-next:before {
  
      font-size: 35px !important;
    
  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  /* Register component */
.registrationContainer {
  background: linear-gradient(to right, #735fe0, #7bedfe);
  padding: 30px;
}
.registrationContainer h2 {
  color: white;
  font-size: 35px;
}

  .landingContainer {
    padding: 30px 50px !important;
  }
  .slick-slider {
    padding: 20px 30px !important;
    height: 200px;
  }
  .offerSlideContent {
    display: flex !important;
    
  }
  .offerSlideContent img {
    margin: 0 auto;
    
    
  }
  .slick-prev:before, .slick-next:before {
  
    font-size: 40px !important;
  
  }
  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  /* Register component */
.registrationContainer {
  background: linear-gradient(to right, #735fe0, #7bedfe);
  padding: 30px;
}
.registrationContainer h2 {
  color: white;
  font-size: 35px;
}

  .landingContainer {
    padding: 30px 50px !important;
  }
  .slick-slider {
    padding: 20px 30px !important;
    height: 200px;
  }
  .offerSlideContent {
    display: flex !important;
    
  }
  .offerSlideContent img {
    margin: 0 auto;
    
    
  }
  .slick-prev:before, .slick-next:before {
  
    font-size: 50px !important;
  
  }

  .appName h1 {
    position: absolute;
    left: 200px;
    top: -58px;
    font-size: 70px !important;
    font-weight: 800 !important;
  }
  .formContainer {
    margin: auto 0;
    width: 50% !important;
    background-color: rgba(81, 193, 245, 1);
    padding: 30px;
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    color: white;
    border-radius: 20px;
  }
  
  .formContainer .loginForm {
    
    width: 50%;
    margin: 0 auto;
  }
  .formContainer h2 {
    margin-top:30px
  }
  .formContainer .loginForm .loginButton {
    width: 25%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  /* Register component */
.registrationContainer {
  background: linear-gradient(to right, #735fe0, #7bedfe);
  padding: 30px;
}
.registrationContainer h2 {
  color: white;
  font-size: 35px;
}

  .landingContainer {
    padding: 30px 50px !important;
  }
  .slick-slider {
    padding: 20px 30px !important;
    height: 200px;
  }
  .offerSlideContent {
    display: flex !important;
    
  }
  .offerSlideContent img {
    margin: 0 auto;
    
    
  }
  .slick-prev:before, .slick-next:before {
  
    font-size: 60px !important;
  
  }

  .appName h1 {
    position: absolute;
    left: 200px;
    top: -58px;
    font-size: 70px !important;
    font-weight: 800 !important;
  }
  .formContainer {
    margin: auto 0;
    width: 50% !important;
    background-color: rgba(81, 193, 245, 1);
    padding: 30px;
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    color: white;
    border-radius: 20px;
  }
  
  .formContainer .loginForm {
    
    width: 50%;
    margin: 0 auto;
  }
  .formContainer h2 {
    margin-top:30px
  }
  .formContainer .loginForm .loginButton {
    width: 25%;
  }
}

/* XX-Large devices (very large desktops, 1400px and up) */
@media (min-width: 1400px) {

  /* Register component */
.registrationContainer {
  background: linear-gradient(to right, #735fe0, #7bedfe);
  padding: 100px !important;
  border-radius: 30px;
  width: 700px !important;
}
.registrationContainer h2 {
  color: white;
  font-size: 35px;
}
.registrationContainer .form-label {
  font-size: 30px;
  color: white;
}
.registrationContainer .form-control {
  width: 400px;
}
.registrationContainer .text-danger {
  font-size: 25px;
  color: rgb(255, 72, 0) !important;
}

.registerBtn {
  height: 50px !important;
  background: linear-gradient(to right, #16962b, #8de7b1);
  font-size: 25px !important;
}

  .landingContainer {
    padding: 50px 50px !important;
    margin-top: 20px !important;
  }
  .slick-slider {
    padding: 20px 30px !important;
    height: 350px;
  }
  .offerSlideContent {
    height: 100% !important;
    display: flex !important;
    position: relative;
    align-items: center !important;
    margin: 0 auto;
    
  }
  .offerSlideContent img {
    margin: 0 auto;
    
    
    
  }
  
  .slick-prev:before, .slick-next:before {
  
    font-size: 70px !important;
    position: absolute;
    top:0;
    
  
  }
  .slick-prev:before {
    left: 50px;
  }
  .slick-next:before {
    left: -100px;
  }
  

  .appName h1 {
    position: absolute;
    left: 200px;
    top: -58px;
    font-size: 70px !important;
    font-weight: 800 !important;
  }
  .formContainer {
    margin: auto 0;
    width: 700px !important;

    /* background-color: rgba(81, 193, 245, 1); */
    
    
        
    padding: 30px;
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    color: white;
    border-radius: 50px;
  }
  
  .formContainer .loginForm {
    height: 400px;
    width: 50%;
    margin: 0 auto;
    padding-top: 50px;
  }
  .formContainer .loginForm label {
    font-size: 30px;
    font-weight: 800;
  }
  .formContainer h2 {
    margin-top:30px
  }
  .formContainer .loginForm .loginButton {
    width: 25%;
  }
  .formContainer .loginForm .form-control {
    height: 50px;
  }
  .paragraphButton {
    background-color: rgba(255, 255, 255, 0) !important;
    border: none !important;
    color: black !important;
    
  }
}
