.payment-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
    margin: 0 auto;
}
.payment-method-radio {
    margin-top: 30px;
}
.payment-method-element {
    margin-top: 50px;
}
.payBtn {
    background-color: rgba(55, 180, 36, 0.955);
    border-radius: 17px;
    margin-top: 30px;
}